.container{
    background-color: #e4e4e4;
    padding-top: 40px;

}

.insideContainer{
    padding-left: 60px;
    padding-right: 60px;
    margin: 0px auto;
    max-width: 1600px;
    width: 100%;
}
.lists{
    list-style: none;
    padding-left: 1px;;
}

.list{
    list-style: none;
    padding-top:5px;
    padding-bottom: 5px;
}
.image{
    display: flex;
    align-items: flex-end;
    /* padding-left: 40px; */
}
.icons{
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 768px){
.insideContainer {
    padding-left: 15px;
    padding-right: 15px;
}
}

@media (max-width: 992px){
    .lists{
        display: none;
    }
}